# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

# file options

# --exclude Tests/XCTestManifests.swift,Snapshots,Pods
--exclude .swiftlint.yml,BuildTools,Today/Generated

# format options 
--indent 4
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
#--header "\n {file}\n\n Created by Miharu Naruse on {created}.\n Copyright (c) {year} m_rn. All rights reserved.\n"

# disable
--disable emptyBraces
--disable numberFormatting
--disable redundantLet
--disable redundantRawValues
--disable trailingCommas
--disable unusedArguments
--disable redundantReturn
--disable preferKeyPath # Convert trivial map { $0.foo } closures to keyPath-based syntax.
